<p id="notice"><%= notice %></p>

<h1>Countries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <% unless country.name == "Admin" || country.name == @country.name %>
        <td><%= country.name %></td>
        <td><%= link_to 'Trade', "/countries/trade/#{country.id}" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

